{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forum/threadStyle.css') }}">
{% endblock %}

{% block title %}Thread{% endblock %}

{% block content %}
<!-- <a href="/forum" id="back-button"><button class="discussion-button">← Back to Discussion Forum</button></a> -->
<div class="back-container mb-3">
    <a href="/forum">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3333 21L9.33333 16M9.33333 16L14.3333 11M9.33333 16L22.6667 16M1 16C1 7.71573 7.71573 0.999999 16 1C24.2843 1 31 7.71573 31 16C31 24.2843 24.2843 31 16 31C7.71573 31 0.999999 24.2843 1 16Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Back to Forum
    </a>
</div>
<h2><b>{{ thread.subject }}</b></h2>

<p class="text-secondary">By {{ username }}</p>
<div class="thread-content">{{ thread.content }}</div>
<br>
<!-- Comment Form -->
<form method="post" action="/thread/{{ thread._id }}/comment">
    <h5 id="comment-header"><strong>Comments</strong></h5>
    <div class="comment-form border shadow-sm">
        <textarea id="comment-content" name="comment-content" placeholder="Add a comment" cols="164px"
            rows="5%"></textarea>
        <br>
        <button type="submit" class="submit-button">Submit</button>
    </div>
</form>

<!-- Comments Section -->
{% if replies %}
{% for reply in replies %}
<div class="comments comment-form shadow-sm border d-flex align-items-center">
    <div class="comment-content">
        {{ reply.content }}<br>
        <small>
            By {{ reply.username }}
        </small>
        
        <br><small class="text-secondary">Commented on: {{ reply.formatted_timestamp|datetimeformat }}</small>
    </div>
    {% if reply.user_id|string == user_id %} <!-- to be replaces with user session_ID -->
        <div>
            <form method="post" action="/delete-comment//{{ reply._id }}" style="display:flex;">
                <button type="submit"
                    onclick="return confirm('Are you sure you want to delete this reply?');">
                    <svg width="20" height="20" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.2833 6.49995L9.995 13.9999M6.005 13.9999L5.71667 6.49995M14.0233 3.82495C14.3083 3.86828 14.5917 3.91411 14.875 3.96328M14.0233 3.82495L13.1333 15.3941C13.097 15.8651 12.8842 16.3051 12.5375 16.626C12.1908 16.9469 11.7358 17.1251 11.2633 17.1249H4.73667C4.26425 17.1251 3.80919 16.9469 3.46248 16.626C3.11578 16.3051 2.90299 15.8651 2.86667 15.3941L1.97667 3.82495M14.0233 3.82495C13.0616 3.67954 12.0948 3.56919 11.125 3.49411M1.97667 3.82495C1.69167 3.86745 1.40833 3.91328 1.125 3.96245M1.97667 3.82495C2.93844 3.67955 3.9052 3.56919 4.875 3.49411M11.125 3.49411V2.73078C11.125 1.74745 10.3667 0.927446 9.38333 0.896613C8.46135 0.867145 7.53865 0.867145 6.61667 0.896613C5.63333 0.927446 4.875 1.74828 4.875 2.73078V3.49411M11.125 3.49411C9.04477 3.33334 6.95523 3.33334 4.875 3.49411" stroke="#333333" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </button>
            </form>
        </div>
    {% endif %}
</div>    
{% endfor %}
{% else %}
<div class="comment">
    <br>
    <p>No replies yet. Be the first to respond!</p>
</div>
{% endif %}

<!-- alert for messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div id="alert-container">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-float" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Fade out alert
    $(document).ready(function() {
        setTimeout(function() {
            $('#alert-container .alert').fadeOut(1000, function() {
                $(this).remove();
            });
        }, 1000);
    });
</script>

{% endblock %}